html, body, .app-root, .kiev-map {
    width: 100%;
    height: 100%;
    margin: 0;
}

.panel-route-widget {
  position: absolute;
  width: 350px;
  top: 10px;
  right: 15px;
}

.panel-route-widget .station-selectbox {
  max-width: 320px;
}

.panel-route-widget .form-group:last-child {
  margin-bottom: 0;
}

.panel-route-widget .form-group .btn-primary {
  width: 100px;
}

.panel-route-widget .form-group .btn-danger {
  width: 70px;
}
